<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'PAGES.HOME' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini color="dark">
      <ion-icon name="list"></ion-icon>
    </button>
    <ion-fab-list>
      <button ion-fab (click)="add()" color="secondary">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-fab (click)="remove()" color="danger">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab right bottom>
    <button ion-fab color="light">
      <ion-icon name="image"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="getPictureFromCamera()" color="primary">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-fab (click)="getPictureFromGallery()" color="primary">
        <ion-icon name="images"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <div class="range-component">
    <range [rangeValues]="range" (brightnessEmiter)="changeBrightness($event)"></range>
    <span>{{ 'HOME.BRIGHTNESS' | translate: {brightness: brightness} }}</span>
    <button ion-button round small (click)="changeRange()">{{ 'HOME.CHANGE_VALUES' | translate }}</button>
  </div>

  <ion-card *ngFor="let item of items | slice:0:items.length; let i = index" class="list">
    <ion-item>
      <h2>{{item.title}}</h2>
      <ion-icon ios="ios-arrow-down" item-end (click)="expand(i)" *ngIf="!item.expand"></ion-icon>
      <ion-icon ios="ios-arrow-up" item-end (click)="expand(i)" *ngIf="item.expand"></ion-icon>
    </ion-item>
    <ion-card-content [ngClass]="{'expand': item.expand}">
      {{item.body | capitalize:{expand: item.expand} }}
    </ion-card-content>
  </ion-card>

  <div class="image-content" *ngIf="image">
    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img [src]="image">
        </ion-avatar>
        <h2>Sergio</h2>
        <p>sergiomedina@smartnode.es</p>
      </ion-item>
        
      <ion-card-content>
        <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa.
          This is heavy.</p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
